# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# All model information
*.pt
runs/

# All OpenVINO exports
*_openvino_model/

# Unimportant related files
england_epl/
wandb/