Cython

# Core ML and Tracking
ultralytics
openvino
opencv-python
wandb

# Analytics tools
numpy
pandas
seaborn
matplotlib

# Utilities
mss        
pyyaml
redis
onnxruntime

# Datasets
statsbombpy
mplsoccer
SoccerNet
kagglehub

# Environment management
ipykernel